body {
    background: rgb(29, 26, 57);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: white;
}
p{
    color: white;
}
.cuadrado {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    border-radius: 0.3em;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#ver {
    padding: 1em 1em 1em 1em;
    background-color: rgb(126, 126, 126);
    border-radius: 0.3em;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
section#crear {
    padding: 0em 0em 2em 0em;
}

.cuadrado:hover {
    transform: scale(3);
    z-index: 100;
}

.venta {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 0.8em;

}

.vender-btn {
    width: 100%;
    height: 50%;
    /* Reducido a la mitad para espacio suficiente */
    font-size: 0.6em;
    font-weight: 600;
    /* Ajustado el tamaño de la fuente */
    display: none;
}

.cuadrado:hover .vender-btn,
.cuadrado:hover .venta {
    display: block;
}

.btn-confirmar-venta,
.input-comprador {
    display: none;
    width: 100%;
    height: 100%;
    font-size: inherit;
}

.btn-confirmar-venta {
    font-size: 0.4em;
}

.vendido {
    background: rgb(89, 207, 59);
    border: (89, 207, 59) 0.3em solid;
    cursor: not-allowed;
}
.num-text {
    padding-right: 2em; /* Ajusta el valor según tus preferencias */
}
.input-comprador {
    width: 82%;
    font-size: 0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#totalPuestos {
    color: aliceblue;
}